

@media only screen and (min-width : 320px) and (max-width : 479px){
	body{
		padding-left: 0!important;
		padding-right: 0!important;
	}

	header {
		overflow: hidden;
	}

	body a,h1,h2,h3{
		margin-left: 10px !important;
		margin-right: 10px !important;
	}
	body p {
		margin-left: 10px;
		margin-right: 10px;
	}

	.ban .span6 p {
		text-shadow:2px 2px 1px rgba(0,0,0,.8);
	} 

	#menu_barre {
		display: none;
	}

	#menu_mobile {
		display: block !important;
		position: absolute;
		top: 0;
		width: 100%;
	}

	#mobile_barre {
		background: #070707;
		height: 54px;
		box-shadow: 0px 3px 6px rgba(0,0,0,.6);
		-webkit-box-shadow: 0px 3px 6px rgba(0,0,0,.6);
		-o-box-shadow: 0px 3px 6px rgba(0,0,0,.6);
		-moz-box-shadow: 0px 3px 6px rgba(0,0,0,.6);
	}

	#logo_mobile {
		margin-left: 0px !important;
	}

	#logo_mobile img {
		width: 220px;
		margin-bottom: 60px !important;
		padding-bottom: 30px;
		position: relative;
		z-index: 1;
	}

	#menu_a_mobile {
		position: absolute;
		top: 12px;
		right: 20px;
	}

	#menu_a_mobile img {
		width: 34px;
	}
	#rubriques {
		background: cyan;
		width: 350px;
		float: right;
		text-align: center;
		display: block;
		right: -478px;
		position: absolute;
	}

	#rubriques ul {
		list-style-type: none;
		margin: 0!important;
	}

	#rubriques li {
		color: white;
		line-height: 93px;
		font-size: 2em;
		position: relative;
		z-index: 200;

		background: #070707; /* Old browsers */
		background: -moz-linear-gradient(top,  #070707 0%, #070707 98%, #ffffff 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#070707), color-stop(98%,#070707), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #070707 0%,#070707 98%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #070707 0%,#070707 98%,#ffffff 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #070707 0%,#070707 98%,#ffffff 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #070707 0%,#070707 98%,#ffffff 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#070707', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	}

	.ban {
		background-position:44% 66% !important; 
		background-size: 190% !important;

	}

	.ban p {
		font-size: 18px !important;
		padding: 70px 0 0px 0px !important;
	} 
	header .span3 a {
		margin: 0 auto 2em auto!important;
		padding: 0.7em 0em !important;
		width: 300px !important;
	}
	#rubriques {
		width: 101px;
	}

	#rubriques li {
		line-height: 82px;
		font-size: 16px;
	}

	.home_resume a {
		width: 300px!important;
	}

	.cl-effect-10 a {
		margin: 0 !important;
		width: 100%;
	}

	.cl-effect-10 div {
	}

	.color-10 {
		margin: 0 10px 0 10px !important;
	}

	.etape {
		width: 94%!important;
		height: 108px !important;
	}

	.etape a {
		width: 300px !important;
		margin: 15px 0 !important;
	}

	.etape p{
		display: none;
	}

	#lot {
		width: 94% !important;
		margin: auto!important;
	}

	.partenaires .span2 a img {
		width: 70% !important;
	}

	.partenaires .span2 {
		float: left !important;
		width: 50% !important;
	}

	footer li {
		font-size: 10px;
	}

	footer ul {
		text-align: center;
		list-style-type: none;
		margin-left: 0;
		padding-top: 15px;
	}

	footer ul li a{
		color: #fff;
	}

	footer ul li img {
		display: none;
	}

	footer ul li p {
		margin: 0 0 0 0px !important;
	}

	footer a {
		margin: 0!important;
	}

	footer .span4 img {
		margin: 10px auto 20px !important;
	}

	/* Page Type */
	.info-liens a{
		padding: 0em;
	}

	.info-liens h2{
		font-size: 16px;
	}

	.proposeImg h2{
		font-size: 15px;
		line-height: 23px;
	}

}

@media only screen and (min-width : 480px) and (max-width : 639px){
	

	body{
		padding-left: 0!important;
		padding-right: 0!important;
	}

	header {
		overflow: hidden;
	}

	body a,h1,h2,h3{
		margin-left: 20px !important;
		margin-right: 20px !important;
	}
	body p {
		margin-left: 20px;
		margin-right: 20px;
	}

	body .etape a {
		margin: 1.5em auto !important;
	}

	body .home_resume a {
		margin: 1.5em auto !important;
	}

	.ban .span6 p {
		text-shadow:2px 2px 1px rgba(0,0,0,.8);
	} 

	#home_video{
		margin: 0 20px;
	}

	.cl-effect-10{
		margin: 0 20px !important;
	}

	.cl-effect-10 a{
		margin-left: 0 !important;
		width: 100%;
		margin-right: 0 !important;
	}

	.ban {
		background-size: 120% !important;
	}

	#menu_barre {
		display: none;
	}

	#menu_mobile {
		display: block !important;
		position: absolute;
		top: 0;
		width: 100%;
	}

	#mobile_barre {
		background: #070707;
		height: 71px;
		box-shadow: 0px 3px 6px rgba(0,0,0,.6);
		-webkit-box-shadow: 0px 3px 6px rgba(0,0,0,.6);
		-o-box-shadow: 0px 3px 6px rgba(0,0,0,.6);
		-moz-box-shadow: 0px 3px 6px rgba(0,0,0,.6);
	}

	#logo_mobile {
		margin-left: 0px !important;
	}

	#logo_mobile img {
		width: 290px;
		margin-bottom: 60px !important;
		padding-bottom: 30px;
		position: relative;
		z-index: 1;
	}

	#menu_a_mobile {
		position: absolute;
		top: 12px;
		right: 20px;
	}

	#menu_a_mobile img {
		width: 50px;
	}

	header .span6 p {
		padding: 110px 0 30px 0px !important;
	}

	header .span3 a {
		margin: 0 auto 2em auto !important;
		font-size: 19px !important;
		width: 370px !important;
	}

	.etape {
		width: 90% !important;
	}

	#rubriques {
		background: cyan;
		width: 191px;
		float: right;
		text-align: center;
		display: block;
		right: -478px;
		position: absolute;
	}

	#rubriques ul {
		list-style-type: none;
		margin: 0!important;
	}

	#rubriques li {
		color: white;
		line-height: 103px;
		font-size: 2em;
		position: relative;
		z-index: 200;

		background: #070707; /* Old browsers */
		background: -moz-linear-gradient(top,  #070707 0%, #070707 98%, #ffffff 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#070707), color-stop(98%,#070707), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #070707 0%,#070707 98%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #070707 0%,#070707 98%,#ffffff 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #070707 0%,#070707 98%,#ffffff 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #070707 0%,#070707 98%,#ffffff 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#070707', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	}

	#lot {
		width: 92% !important;
		margin: auto !important;
	}

	.partenaires .span2 a img {
		width: 70% !important;
	}

	.partenaires .span2 {
		float: left !important;
		width: 50% !important;
	}

	footer li {
		font-size: 13px;
	}

	footer ul {
		text-align: center;
		list-style-type: none;
		margin-left: 0;
		padding-top: 15px;
	}

	footer ul li a{
		color: #fff;
	}

	footer ul li img {
		display: none;
	}

	footer ul li p {
		margin: 0 0 8px 0px !important;
	}

	footer a {
		margin: 0!important;
	}

	footer .span4 img {
		margin: 10px auto 20px !important;
	}

	/* Page Type */
	.info-liens a{
		padding: 0.5em 0em 0em 0em;
	}

	.info-liens h2{
		font-size: 21px;
	}

	.proposeImg h2{
		font-size: 21px;
		line-height: 32px;
	}
}

@media only screen and (min-width : 640px) and (max-width : 767px){
	body{
		padding-left: 0!important;
		padding-right: 0!important;
	}

	header {
		overflow: hidden;
	}

	body a,h1,h2,h3{
		margin-left: 20px !important;
		margin-right: 20px !important;
	}
	body p {
		margin-left: 20px;
		margin-right: 20px;
	}
	#menu_barre {
		display: none;
	}

	#menu_mobile {
		display: block !important;
		position: absolute;
		top: 0;
		width: 100%;
	}

	.ban .span6 p {
		text-shadow:2px 2px 1px rgba(0,0,0,.8);
	} 

	#mobile_barre {
		background: #070707;
		height: 71px;
		box-shadow: 0px 3px 6px rgba(0,0,0,.6);
		-webkit-box-shadow: 0px 3px 6px rgba(0,0,0,.6);
		-o-box-shadow: 0px 3px 6px rgba(0,0,0,.6);
		-moz-box-shadow: 0px 3px 6px rgba(0,0,0,.6);
	}

	#logo_mobile {
		margin-left: 0px !important;
	}

	#logo_mobile img {
		width: 355px;
		margin-bottom: 60px !important;
		padding-bottom: 30px;
		position: relative;
		z-index: 1;
	}

	#menu_a_mobile {
		position: absolute;
		top: 12px;
		right: 20px;
	}

	#menu_a_mobile img {
		width: 50px;
	}

	.ban {
		background-size: 100% !important;
	}

	header .span6 p {
		padding: 120px 0 30px 0px !important;
	}

	#rubriques {
		background: cyan;
		width: 285px;
		float: right;
		text-align: center;
		display: block;
		right: -478px;
		position: absolute;
	}

	#rubriques ul {
		list-style-type: none;
		margin: 0!important;
	}

	#rubriques li {
		color: white;
		line-height: 98px;
		font-size: 2em;
		position: relative;
		z-index: 200;

		background: #070707; /* Old browsers */
		background: -moz-linear-gradient(top,  #070707 0%, #070707 98%, #ffffff 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#070707), color-stop(98%,#070707), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #070707 0%,#070707 98%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #070707 0%,#070707 98%,#ffffff 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #070707 0%,#070707 98%,#ffffff 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #070707 0%,#070707 98%,#ffffff 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#070707', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	}

	#lot {
		width: 97% !important;
		margin: auto;
	}

	.cl-effect-10 a {
		margin: 0 !important;
		width: 100%;
	}

	.cl-effect-10 div {
	}

	.color-10 {
		margin: 0 10px 0 10px !important;
	}

	.etape {
		width: 97% !important;
	}

	body .etape a {
		margin: 1.5em auto !important;
		width: 410px !important;
	}

	.partenaires .span2 a img {
		width: 70% !important;
	}

	.partenaires .span2 {
		float: left !important;
		width: 50% !important;
	}

	footer li {
		font-size: 16px;
	}

	footer ul {
		text-align: center;
		list-style-type: none;
		margin-left: 0;
		padding-top: 15px;
	}

	footer ul li a{
		color: #fff;
	}

	footer ul li img {
		display: none;
	}

	footer ul li p {
		margin: 0 0 10px 0px !important;
	}

	footer a {
		margin: 0!important;
	}

	footer .span4 img {
		margin: 10px auto 20px !important;
	}

	/* Page Type */
	.info-liens a{
		padding: 0.5em 0em 0em 0.7em;
	}

	.info-liens h2{
		font-size: 20px;
	}

	.proposeImg h2{
		font-size: 21px;
		line-height: 30px;
	}
}

@media only screen and (min-width : 768px) and (max-width : 979px){
	
	#menulist {
		margin-left: 60px;
	}

	.ban {
		background-size: 100% !important;
	}
	header .span3 a {
		margin-left: 20px !important;
	}
	.cl-effect-10 a {
		width: 100%;
	}

	#lot p{
		font-size: 1em!important;
	}

	.etape {
		height: 220px !important;
	}
	.etape a {
		margin: 0.5em auto 3em auto !important;
		padding: 0.3em 0em !important;
		width: 205px !important;
	}
	.etape h4 {
		font-size: 15.5px !important;
	}

	.ban .span6 p {
		text-shadow:2px 2px 1px rgba(0,0,0,.8);
	} 
}

@media only screen and (max-width: 1110px) and (min-width: 980px){
	
	.cl-effect-10 a {
		width: 100%;
	}

	.etape a {
		width: 290px !important;
	}

	.etape {
		height: 215px !important;
	}
}