

@media only screen and (min-width : 320px) and (max-width : 479px){
	body{
		padding-left: 0!important;
		padding-right: 0!important;
	}

	header {
		overflow: hidden;
	}

	body a,h1,h2,h3{
		margin-left: 10px !important;
		margin-right: 10px !important;
	}
	body p {
		margin-left: 10px;
		margin-right: 10px;
	}

	.ban .span6 p {
		text-shadow:2px 2px 1px rgba(0,0,0,.8);
	} 

	#menu_barre {
		display: none;	
	}

	#menu_mobile {
		display: block !important;
		position: absolute;
		top: 0;
		width: 100%;
	}

	#mobile_menu_gauche {
		float: left;
	}

	#mobile_menu_droite {
		background-color: rgba(34, 34, 34, 1);
		height: 51px;
	}

	#logo_mobile {
		margin-left: 0px !important;
	}

	#logo_mobile img {
		margin-right: 0!important;


	}
	#mobile_menu_droite a{
		margin: 0 !important;
		float: right;
		padding: 14px 14px 14px 60px;
	}

	#rubriques {
		width: 350px;
		float: right;
		text-align: center;
		right: -478px;
		position: absolute;
		top:50px;		
	}


	#rubriques ul {
		list-style-type: none;
		margin: 0!important;
	}
	#rubriques li a{
		float: none;
		padding: 30px;
	}

	#rubriques li {
		color: white;
		line-height: 93px;
		font-size: 2em;
		position: relative;
		z-index: 200;
		background-color:#070707;
		border-bottom: #232323 solid 1px;
	}

	#rubriques li:last-child {
		border-bottom: none;
	}

	.ban {
		background-position:44% 66% !important; 
		background-size: 190% !important;

	}

	.ban p {
		font-size: 18px !important;
		padding: 70px 0 0px 0px !important;
	} 
	header .span3 a {
		margin: 0 auto 2em auto!important;
		padding: 0.7em 0em !important;
		width: 300px !important;
	}
	#rubriques {
		width: 101px;
	}

	#rubriques li {
		line-height: 82px;
		font-size: 16px;
	}

	.home_resume a {
		width: 300px!important;
	}

	.cl-effect-10 a {
		margin: 0 !important;
		width: 100%;
	}

	.cl-effect-10 div {
	}

	.color-10 {
		margin: 0 10px 0 10px !important;
	}

	.etape {
		width: 94%!important;
		height: 108px !important;
	}

	.etape a {
		width: 300px !important;
		margin: 15px 0 !important;
	}

	.etape p{
		display: none;
	}

	#lot {
		width: 94% !important;
		margin: auto!important;
	}

	#lot div {
		top: -145px;
	}

	#lot div h3 {
	text-align: center;
	font-size: 4.5em;
	}

	#lot div h4 {
		font-weight: 100;
		text-align: center;
		font-size: 4.4em;
		margin-top: 37px;
	}

	.partenaires .span2 a img {
		width: 70% !important;
	}

	.partenaires .span2 {
		float: left !important;
		width: 50% !important;
	}

	.tt-wrapper li span.active {
		width: 60px!important;
		margin-left: -40px!important;
	}

	#map-container {
		height: 300px!important;
	}

	#titreEtape h1 {
		margin-top: 70px;
		}

	#titreEtape h2 {
		margin-bottom: -19px;
	}

	footer ul {
		margin: 10px 0 0 0 !important;
		text-align: center;

		width: 672px;
		padding: 0;
		margin: 25px auto 80px auto;
		list-style-type: none;
	}

	footer li {
		font-size: 10px;
		clear: both !important;


		margin-left:2px;
		float:left; /*pour IE*/
	}


	footer ul li img {
		display: none;
	}


	footer ul li p {
	 display:block;
	 float:left;
	 color:black;
	 text-decoration:none;
	 text-align:center;
	 padding:5px;
	 color: #fff;
	 font-weight: 100;
	 margin: 0 0 0 20px;
	 }

	footer ul li a{
		margin: 0 5px 0 0;
	}

	footer ul li a p:hover{
		color: #AD1F1F;
	}

	footer .span4 img {
		margin: 10px auto 20px !important;
	}

	/* Page Type */
	.info-liens a{
		padding: 0em !important;
	}

	.info-liens h2{
		font-size: 16px !important;
	}

	.proposeLien h2{
		font-size: 15px !important;
		line-height: 23px;
	}

	.proposeImg{
		height: 100px !important;
	}

	.proposeImg h2{
		font-size: 15px !important;
		line-height: 23px;
	}

	.rogneArt {
		height: auto !important;
		margin-bottom: 20px;
	}

	.rogneImg {
		height: auto !important;
		margin-bottom: 20px;
	}

	#blackArt{
		display:none;
	}

	#blackPho{
		display:none;
	}

<<<<<<< HEAD
	.resumeEtape a{
		width: 285px !important;
		margin-left: auto !important;
		margin-right: auto !important;
	}

	#navIndice ul {
		width: 315px!important;
	}

	#barCentrale {
		width: 280px!important;
		margin: 19px auto -34px auto!important;
	}
	#navIndice li {
		margin: 0 0 0 15px!important;
	}

	#map_btn {
		height: 60px!important;
		width: 60px!important;
		background-size: 100%!important;
	}
	#photo_btn {
		height: 60px!important;
		width: 60px!important;
		background-size: 100%!important;
	}
	#article_btn {
		height: 60px!important;
		width: 60px!important;
		background-size: 100%!important;
	}
	#lien_btn {
		height: 60px!important;
		width: 60px!important;
		background-size: 100%!important;
	}

	.date-article{
		margin: 0 !important;
		bottom: 0 !important;
	}

	.titre-article{
		margin: 0 !important;
		bottom: 36px !important;
	}

	.sourcePho{
		margin-right: 0 !important;
	}

	#photo p{
		margin-left: 0 !important;
=======

	/*FOOTER*/
	.footer{
		width:50% !important;
		margin: auto !important;

	} 

	.footer li{
		margin-left:69px;
	}

	.footer p{
		width:85px;
		margin: 0px;
>>>>>>> responsive htacces
	}

}

@media only screen and (min-width : 480px) and (max-width : 639px){
	

	body{
		padding-left: 0!important;
		padding-right: 0!important;
	}

	header {
		overflow: hidden;
	}

	body a,h1,h2,h3{
		margin-left: 20px !important;
		margin-right: 20px !important;
	}
	body p {
		margin-left: 20px;
		margin-right: 20px;
	}

	body .etape a {
		margin: 1.5em auto !important;
	}

	body .home_resume a {
		margin: 1.5em auto !important;
	}

	.ban .span6 p {
		text-shadow:2px 2px 1px rgba(0,0,0,.8);
	} 

	#home_video{
		margin: 0 20px;
	}

	.cl-effect-10{
		margin: 0 20px !important;
	}

	.cl-effect-10 a{
		margin-left: 0 !important;
		width: 100%;
		margin-right: 0 !important;
	}

	.ban {
		background-size: 120% !important;
	}

	header .span6 p {
		padding: 110px 0 30px 0px !important;
	}

	header .span3 a {
		margin: 0 auto 2em auto !important;
		font-size: 19px !important;
		width: 370px !important;
	}

	.etape {
		width: 90% !important;
	}

	#menu_barre {
		display: none;
	}

	#menu_mobile {
		display: block !important;
		position: absolute;
		top: 0;
		width: 100%;
	}

	#mobile_menu_gauche {
		float: left;
	}
	
	#mobile_menu_droite {
		background-color: rgba(34, 34, 34, 1);
		height: 51px;
	}

	#logo_mobile {
		margin-left: 0px !important;
	}

	#logo_mobile img {
		margin-right: 0!important;


	}

	nav li a{
		font-size: 0.7em;
	}
	#mobile_menu_droite a{
		margin: 0 !important;
		float: right;
		padding: 14px 14px 14px 80px;
	}

	#rubriques {
		width: 350px;
		float: right;
		text-align: center;
		right: -478px;
		position: absolute;
		top:50px;
		
		
	}
	#rubriques ul {
		list-style-type: none;
		margin: 0!important;
	}
	#rubriques li a{
		float: none;
		padding: 28px 80px;
	}

	#rubriques li {
		color: white;
		line-height: 93px;
		font-size: 2em;
		position: relative;
		z-index: 200;
		background-color:#070707;
		border-bottom: #232323 solid 1px;
	}
	#rubriques li:last-child {
		border-bottom: none;
	}


	#lot {
		width: 92% !important;
		margin: auto !important;
	}

	.partenaires .span2 a img {
		width: 70% !important;
	}

	.partenaires .span2 {
		float: left !important;
		width: 50% !important;
	}

	#titreEtape h1 {
		margin-top: 100px!important;
	}

	footer li {
		font-size: 12px;
	}

	footer ul {
		
		max-width: 402px !important;
		margin: 0 auto 0 auto !important;
	}

	footer ul li p {
		margin: 10px 0 0px 0px !important;
	}

	footer a {
		margin: 0!important;
	}

	footer .span4 img {
		margin: 10px auto 20px !important;
	}

	/* Page Type */
	.info-liens a{
		padding: 0.5em 0em 0em 0em !important;
	}

	.info-liens h2{
		font-size: 21px !important;
	}

	.proposeLien h2{
		font-size: 21px !important;
		line-height: 32px;
	}

	.proposeImg{
		height: 125px !important;
	}

	.proposeImg h2{
		font-size: 21px !important;
		line-height: 32px;
	}

	.rogneArt {
		height: auto !important;
		margin-bottom: 20px;
	}

	.rogneImg {
		height: auto !important;
		margin-bottom: 20px;
	}

	#blackArt{
		display:none;
	}

	#blackPho{
		display:none;
	}
	
	#navIndice ul {
		width: 315px!important;
	}

	#barCentrale {
		width: 280px!important;
		margin: 19px auto -34px auto!important;
	}
	#navIndice li {
		margin: 0 0 0 15px!important;
	}

	#map_btn {
		height: 60px!important;
		width: 60px!important;
		background-size: 100%!important;
	}
	#photo_btn {
		height: 60px!important;
		width: 60px!important;
		background-size: 100%!important;
	}
	#article_btn {
		height: 60px!important;
		width: 60px!important;
		background-size: 100%!important;
	}
	#lien_btn {
		height: 60px!important;
		width: 60px!important;
		background-size: 100%!important;
	}

	.date-article{
		margin: 0 !important;
		bottom: 0 !important;
	}

	.titre-article{
		margin: 0 !important;
		bottom: 36px !important;
	}

	.sourcePho{
		margin-right: 0 !important;
	}

	#photo p{
		margin-left: 0 !important;
	}
}

@media only screen and (min-width : 640px) and (max-width : 767px){
	body{
		padding-left: 0!important;
		padding-right: 0!important;
	}

	header {
		overflow: hidden;
	}

	body a,h1,h2,h3{
		margin-left: 20px !important;
		margin-right: 20px !important;
	}
	body p {
		margin-left: 20px;
		margin-right: 20px;
	}
	/*#menu_barre {
		display: none;
	}*/

	.home_resume a {
		margin: auto !important;
	}
/*
	#menu_mobile {
		display: block !important;
		position: absolute;
		top: 0;
		width: 100%;
	}*/

	.ban .span6 p {
		text-shadow:2px 2px 1px rgba(0,0,0,.8);
	} 

	#mobile_barre {
		background: #070707;
		height: 71px;
		box-shadow: 0px 3px 6px rgba(0,0,0,.6);
		-webkit-box-shadow: 0px 3px 6px rgba(0,0,0,.6);
		-o-box-shadow: 0px 3px 6px rgba(0,0,0,.6);
		-moz-box-shadow: 0px 3px 6px rgba(0,0,0,.6);
	}

	#menu_horizontal li a{
		font-size: 13px !important;
	}

	ul#menu_horizontal {
		margin-top: -35px;
		margin-left: 190px;
	}

	#logo_mobile {
		margin-left: 0px !important;
	}

	#logo_mobile img {
		width: 355px;
		margin-bottom: 60px !important;
		padding-bottom: 30px;
		position: relative;
		z-index: 1;
	}

	#menu_a_mobile {
		position: absolute;
		top: 12px;
		right: 20px;
	}

	#menu_a_mobile img {
		width: 50px;
	}

	.ban {
		background-size: 100% !important;
	}

	header .span6 p {
		padding: 120px 0 30px 0px !important;
	}

	#rubriques {
		background: cyan;
		width: 285px;
		float: right;
		text-align: center;
		display: block;
		right: -478px;
		position: absolute;
	}

	#rubriques ul {
		list-style-type: none;
		margin: 0!important;
	}

	#rubriques li {
		color: white;
		line-height: 98px;
		font-size: 2em;
		position: relative;
		z-index: 200;

		background: #070707; /* Old browsers */
		background: -moz-linear-gradient(top,  #070707 0%, #070707 98%, #ffffff 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#070707), color-stop(98%,#070707), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #070707 0%,#070707 98%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #070707 0%,#070707 98%,#ffffff 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #070707 0%,#070707 98%,#ffffff 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #070707 0%,#070707 98%,#ffffff 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#070707', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	}


	#lot {
		width: 47% !important;
		margin: -292px 10px 30px!important;
		display: block!important;
		float: right!important;
	}

	#lot div {
		top: -255px!important;
	}

	#lot div h3 {
	text-align: center;
	font-size: 3.5em!important;
	margin-top: 130px!important;
	}

	#lot div h4 {
		font-weight: 100;
		text-align: center;
		font-size: 3.4em!important;
		margin-top: 17px!important;
	}

	#lot a {
		margin: 210px 10px!important;
		padding-bottom: 5px!important;
	}

	#lot p {
		margin: -210px 10px!important;
		font-size: 1em!important;
	}

	.cl-effect-10 a {
		margin: 0 !important;
		width: 105%;
	}

	.cl-effect-10 div {
	}

	.color-10 {
		margin: 0 10px 0 10px !important;
	}

	.etape {
		width: 97% !important;
	}

	body .etape a {
		margin: 1.5em auto !important;
		width: 410px !important;
	}

	.partenaires .span2 a img {
		width: 70% !important;
	}

	.partenaires .span2 {
		float: left !important;
		width: 50% !important;
	}

	.main_right_home section{
		width: 45%;
	}

	footer li {
		font-size: 12px;
	}

	footer ul {
		
		max-width: 403px !important;
		margin: 0 auto 0 auto !important;
	}

	footer ul li p {
		margin: 10px 0 0px 0px !important;
	}

	footer a {
		margin: 0!important;
	}

	footer .span4 img {
		margin: 10px auto 20px !important;
	}

	/* Page Type */
	.info-liens a{
		padding: 0.5em 0em 0em 0.7em !important;
	}

	.info-liens h2{
		font-size: 20px !important;
	}

	.proposeLien h2{
		font-size: 21px !important;
		line-height: 30px;
	}

	.proposeImg{
		height: 100px !important;
	}

	.proposeImg h2{
		font-size: 21px !important;
		line-height: 30px;
	}

	.rogneArt {
		height: auto !important;
		margin-bottom: 20px;
	}

	.rogneImg {
		height: auto !important;
		margin-bottom: 20px;
	}

	#blackArt{
		display:none;
	}

	#blackPho{
		display:none;
	}

	.date-article{
		margin: 0 !important;
		bottom: 0 !important;
	}

	.titre-article{
		margin: 0 !important;
		bottom: 36px !important;
	}

	.sourcePho{
		margin-right: 0 !important;
	}

	#photo p{
		margin-left: 0 !important;
	}
}

@media only screen and (min-width : 768px) and (max-width : 979px){
	
	#menulist {
		margin-left: 60px;
	}

	.ban {
		background-size: 100% !important;
	}
	header .span3 a {
		margin-left: 20px !important;
	}
	.cl-effect-10 a {
		width: 100%;
	}

	#lot p{
		font-size: 1em!important;
	}

	#lot div {
		top: -115px;
	}

	#lot div h3 {
	text-align: center;
	font-size: 3.5em;
	}

	#lot div h4 {
		font-weight: 100;
		text-align: center;
		font-size: 3.4em;
		margin-top: 17px;
	}

	#lot p{
		margin-top: -90px;
	}

	.etape {
		height: 220px !important;
	}
	.etape a {
		margin: 0.5em auto 3em auto !important;
		padding: 0.3em 0em !important;
		width: 205px !important;
	}
	.etape h4 {
		font-size: 15.5px !important;
	}

	.ban .span6 p {
		text-shadow:2px 2px 1px rgba(0,0,0,.8);
	} 

	/* Page Type */
	.info-liens a{
		padding: 0.5em 0em 0em 1em !important;
	}

	.info-liens h2{
		font-size: 18px !important;
	}

	.proposeLien h2{
		font-size: 17px !important;
		line-height: 30px;
	}

	.proposeImg{
		height: 151px !important;
	}

	.proposeImg h2{
		font-size: 13px !important;
		line-height: 20px;
	}
}

@media only screen and (max-width: 1110px) and (min-width: 980px){
	
	.cl-effect-10 a {
		width: 100%;
	}

	.etape a {
		width: 290px !important;
	}

	.etape {
		height: 215px !important;
	}

	/* Page Type */
	.info-liens a{
		padding: 0.5em 0em 0em 1.7em !important;
	}

	.info-liens h2{
		font-size: 22px !important;
	}

	.proposeLien h2{
		font-size: 20px !important;
		line-height: 40px;
	}

	.proposeImg{
		height: 214px !important;
	}

	.proposeImg h2{
		font-size: 20px !important;
		line-height: 31px;
	}
}